@import "utils/reset";
@import "utils/variables";
@import "utils/grid";

body{
    font-family: $font-family-base;
}

.wrapper{
    @media screen and (max-width: 576px){
        overflow-x: hidden;
    }
}

header{
    svg{
        padding: 1em;
    }   
}

.container{
    width: 100%;
    height: auto;
}

.container__app{
    background-image: url(../images/jumbo@2x.jpg);
    background-size: cover;
}

.app__texto{
    padding: 4em;
    background-color: rgba($color: #2F2E2D, $alpha: 0.8);
    height: auto;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;

    & h1{
        font-size: 48px;
        font-weight: normal;
        line-height: 56px;
        margin-bottom: 1em;
    }

    /*& .texto__enlaces{
        margin-top: 1em;
    }*/

    & .texto__enlaces{
        & svg:first-child{
            margin-right: 1em;
        }

        & svg {
            display: inline-block;
        }
    }


    @media screen and (max-width: 375px){
        width: auto;
        padding: 1em;
        background-color: rgba(47, 46, 45, 0.8);
        height: auto;

        & h1{
            font-size: x-large;
            color: white;
            width: 100%;
            font-weight: normal;
        }

        /*& .texto__enlaces{
            display: flex;
        }*/
    }


    @media screen and (max-width: 576px) {
        h1{
            font-size: 28px;
            line-height: 34px;
            width: auto;
            font-weight: unset;
            padding: 7px;
        }
    }

    @media screen and (min-width: $breakpoint-md){
        height: 500px;
    }
}

.funcionamiento{
    text-align: center;
    margin-bottom: 4em;

    & h2{
        font-size: 39px;
        margin: 1em;
    }

    & .funcionamiento__pasos{

        & .circulo{
            width: 2rem;
            height: 2rem;
            border-radius: 50%;
            background: $gradient-1;
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
            margin: 0px auto;
            padding: 3%;
            color: white;
            font-weight: bold;
            font-size: 29px;
        }

        & h3{
            font-size: 31px;
            font-weight: normal;
            margin-top: 10px;
            line-height:  1.1;
        }

        & .funcionamiento__pasos-desc{
            font-size: 18px;
            line-height: 28px;
            margin-top: 1em;
            color: $gray3;
        }

        @media screen and (max-width: 576px){
            .funcionamiento__pasos-bloque{
                display: flex;
            }

            .circulo{
                width: 2em;
                font-size: 20px;
            }

            .funcionamiento__pasos-text{
                text-align: left;
                margin-left: 10px;
                width: 100%;
                margin-bottom: 19px;
            }

            h3{
                font-size: 21px;
                font-weight: normal;
            }

            .funcionamiento__pasos-desc{
                font-size: 15px;
                line-height: 28px;
                margin-top: 1em;
            }
        }
    }

    @media screen and (max-width: 576px){
        h2{
            font-size: 25px;
            text-align: left;
            margin: 1em 1em 1em 0px;
        }
    }
}

.formulario{
    display: flex;
    justify-content: space-evenly;

    & #formularioOk{
        display: none;
    }

    @media screen and (min-width: 576px){
        padding: 1em;
    }

    @media screen and (max-width: 576px) {
        padding: 1em;
        margin-top: -4em;
    }

    & img{
        @media screen and (max-width: 576px) {
            display: none;
        }
    }


    & .formulario__bloque{
        border: 1px solid $gray1;
        padding: 1em;
        border-radius: 7px;
        box-shadow: 8px 8px orange;

        form div{
            display: grid;
        }

        @media screen and (min-width: 576px){
            margin-top: 2em;
        }

        @media screen and (min-width: 960px){
            margin-top: 0;
            padding: 2em;
            box-shadow: 8px 8px orange;
        }

        form input{
            @media screen and (max-width: 576px){
                margin-top: 10px;
            }
        }

        form div, input{
            margin-bottom: 2em;

            @media screen and (max-width: 576px){
                margin-bottom: 1em;
            }
        }

        p.formulario__bloque-title { //Modificado, antes un h2 ahora un p
            font-size: 30.88px;
            margin-bottom: 1em;

            @media screen and (max-width: 576px) {
                font-size: 26px;
            }
        }

        .btnEnviar{
            display: block;
            padding: 1em;
            background: $gradient-1;
            color: white;
            width: 35%;
            border-radius: 5px;
            margin-top: 1em;
        }
    }
}


.enviado{

    & #formulario__bloque{
        display: none;
    }

    & #formularioOk{
        display: block;
        width: 100%;
        height: 200px;
        text-align: center;
        background: linear-gradient(180deg, #ffce32 0%, #f9a519 100%);

        & h1{
            font-size: 31px;
            font-weight: normal;
            margin-top: 10px;
            line-height: 1.1;
            color: white;
        }

        & p{
            font-size: 18px;
            line-height: 28px;
            margin-top: 1em;
            color: white;
        }
    }

}

.opiniones{
    & .opiniones-title{
        font-size: 39px;
        margin: 2em;
        text-align: center;

        @media screen and (max-width: 576px){
            font-size: 25px;
            text-align: left;
            margin: 1em 1em 1em 10px;
        }
    }

    .opiniones__hijo{
        & .triangulo-container {
            position: relative;
        }
        
        & .triangulo {
            border: 10px solid gray;
            border-left-color: transparent;
            border-bottom-color: transparent;
            border-right-color: transparent;
            position: absolute;
            bottom: 0px;
            left: 11px;
        }
        
        & .triangulo-base {
            border: 10px solid white;
            border-left-color: transparent;
            border-bottom-color: transparent;
            border-right-color: transparent;
            position: absolute;
            bottom: 0px;
            left: 11px;
            z-index: 1;
        }        
        
        @media screen and (min-width: 576px){
            padding: 2em;
        }

        @media screen and (max-width: 576px){
            padding: 1em;
        }

        @media screen and(min-width: 960px){
            padding: 1em;
        }
    }

    & .hijo-texto{
        border: 1px solid $gray1;
        padding: 1em;
        border-radius: 5px;
        margin-bottom: 1em;
        font-size: 19px;
        line-height: 28px;
        color: $gray3;

        @media screen and (max-width: 576px){
            padding: 1em;
            margin-bottom: 1em;
            font-size: 15px;
        }
    }

    & .hijo-persona{
        font-size: 20px;
        line-height: 24px;
    }

    & .hijo-persona, .hijo-ciudad{
        @media screen and (max-width: 576px){
            font-size: 12px;   
        }
    }
}

.mapa{
    & h2{
        font-size: 39px;
        margin: 2em;
        text-align: center;

        @media screen and (max-width: 576px){
            font-size: 25px;
            text-align: left;
            margin: 1em 1em 1em 9px;
        }
    }
}

.footer{
    text-align: center;
    background-color: $gray4;
    padding: 2em;
    color: white;

    svg{
        margin-bottom: 10px;
    }
}