<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    {% if usuario.registrado %}
    <h1>El usuario {{ usuario.nombre }} esta registrado</h1>
    {% else %}
    <h1>El usuario {{ usuario.nombre }} no esta registrado</h1>
    {% endif %}
</body>
</html>