<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://emoji-css.afeld.me/emoji.css" rel="stylesheet">
    <link rel="stylesheet" href="http://localhost:8000/styles/styles.css">
    <title>Maleteo</title>
</head>
<body>
    <div class="wrapper">
        <header>
            <svg width="217" height="40" viewBox="0 0 217 40" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M79.7195 24.3522L84.0588 18.2414V31.6237H88.5348V8.4095H85.8355L78.6945 19.129L70.8359 8.4095H68.0342V31.6237H72.4418V17.4562L78.0111 24.5912L79.7195 24.3522Z" fill="#F9A519"/>
                <path d="M100.819 8.4095L91.7647 31.6237H96.2065L98.2566 26.1616H107.072L109.156 31.9651L113.598 31.3506L104.578 8.4095H100.819ZM105.705 22.577H99.5549L102.596 14.4862L105.705 22.577Z" fill="#F9A519"/>
                <path d="M131.508 28.1757H121.258V8.4095H116.85V31.6237H132.191L131.508 28.1757Z" fill="#F9A519"/>
                <path d="M151.699 31.6237L150.982 28.1757H139.843V21.6553H148.146L147.428 18.139H139.843V11.8916H149.991L149.307 8.4095H135.435V31.6237H151.699Z" fill="#F9A519"/>
                <path d="M171.518 8.4095H152.726V11.8916H159.799V31.6237H164.275V11.8916H172.236L171.518 8.4095Z" fill="#F9A519"/>
                <path d="M191.739 31.6237L191.022 28.1757H179.883V21.6553H188.186L187.468 18.139H179.883V11.8916H190.031L189.348 8.4095H175.476V31.6237H191.739Z" fill="#F9A519"/>
                <path d="M204.998 7.86328C202.766 7.9088 200.784 8.45502 199.053 9.50193C197.322 10.5488 195.978 11.994 195.021 13.8375C194.087 15.681 193.62 17.7748 193.62 20.119C193.62 22.3722 194.065 24.4091 194.953 26.2298C195.864 28.0278 197.174 29.4616 198.882 30.5313C200.613 31.5782 202.652 32.1017 204.998 32.1017C207.253 32.0561 209.235 31.5213 210.943 30.4972C212.675 29.4502 214.019 28.0164 214.975 26.1957C215.932 24.3522 216.41 22.247 216.41 19.8801C216.41 17.6269 215.955 15.59 215.044 13.7693C214.155 11.9485 212.845 10.5147 211.114 9.46779C209.383 8.39812 207.344 7.86328 204.998 7.86328ZM198.233 20.0849C198.233 18.4007 198.541 16.9214 199.156 15.6469C199.793 14.3496 200.625 13.3596 201.65 12.6768C202.698 11.9713 203.837 11.6185 205.067 11.6185C206.411 11.6185 207.595 11.9713 208.62 12.6768C209.645 13.3823 210.431 14.361 210.978 15.6127C211.524 16.8645 211.798 18.2869 211.798 19.8801C211.798 21.7235 211.49 23.2939 210.875 24.5912C210.283 25.8657 209.463 26.8216 208.415 27.4588C207.39 28.0733 206.24 28.3806 204.964 28.3806C203.597 28.3806 202.402 28.0392 201.376 27.3564C200.374 26.6509 199.6 25.6722 199.053 24.4205C198.506 23.146 198.233 21.7008 198.233 20.0849Z" fill="#F9A519"/>
                <path d="M50.0425 6.18086C46.7743 5.54873 43.7521 5.23266 41.0461 5.23266C37.9536 5.23266 35.2477 5.65408 32.9283 6.46181C32.9283 3.72256 32.7877 2.21247 31.628 1.15891C30.5035 0.0702371 28.7112 0 26.7784 0C26.6378 0 26.4972 0 26.3918 0C26.2864 0 26.2161 0 26.1107 0C24.0021 0 22.7019 0.351185 21.8233 1.15891C20.7339 2.17735 20.7339 3.51185 20.7691 4.95171C20.7691 5.19754 20.7691 5.44337 20.7691 5.72432C20.7691 5.93503 20.7691 6.21598 20.7691 6.56716C18.9768 5.93503 16.9386 5.51361 14.6543 5.33802C14.1272 5.26778 13.4946 5.26778 12.8269 5.26778C10.2615 5.26778 6.60674 5.54873 1.68683 6.14574L0 6.35645V39.8244L1.86254 39.8595C3.44394 39.8946 4.91991 39.8946 6.36074 39.8946C11.8078 39.8946 16.1303 39.6488 19.1525 39.1572C22.5262 38.6304 25.0213 38.0334 26.8135 37.3661C28.9572 38.2792 31.382 38.9816 34.0528 39.4732C36.0208 39.8244 38.797 40 42.5572 40C44.6306 40 47.0906 39.9298 49.7965 39.8244L51.6239 39.7542V6.46181L50.0425 6.18086ZM23.8616 5.72432C23.8616 5.44337 23.8616 5.16242 23.8616 4.91659C23.8616 4.21422 23.8264 3.33626 24.0373 3.16067C24.1076 3.09043 24.459 2.8446 26.1458 2.8446C26.2512 2.8446 26.3918 2.8446 26.4972 2.8446C26.6027 2.8446 26.7081 2.8446 26.8135 2.8446C27.3758 2.8446 29.1329 2.8446 29.4843 3.16067C29.8709 3.51185 29.8709 5.51361 29.8358 7.86655C29.8358 7.90167 29.8358 7.90167 29.8358 7.93679C28.6761 8.63916 27.6569 9.44688 26.7784 10.4302C25.935 9.51712 24.951 8.70939 23.8264 8.00702C23.8616 7.12906 23.8616 6.21598 23.8616 5.72432ZM47.7934 36.137C45.8958 36.2072 44.1386 36.2423 42.5572 36.2423C39.043 36.2423 36.4073 36.1018 34.6854 35.7858C32.0146 35.2941 29.6249 34.5917 27.6218 33.6435L26.8135 33.2572L26.0053 33.6084C24.5644 34.2406 22.0342 34.8727 18.4848 35.4346C15.6734 35.8911 11.5618 36.1018 6.3256 36.1018C5.51733 36.1018 4.63877 36.1018 3.76022 36.1018V9.72783C7.66101 9.27129 10.6832 9.06058 12.7566 9.06058C13.3189 9.06058 13.846 9.06058 14.2677 9.0957C18.8362 9.44688 22.1747 10.8516 24.1076 13.1694C24.1779 13.2748 24.2833 13.3802 25.3727 14.4688L26.7432 15.8385L28.0786 14.4337C29.0275 13.4504 29.1681 13.2748 29.2735 13.1694C31.628 10.3951 35.5639 8.95522 40.9056 8.95522C42.9438 8.95522 45.2281 9.16593 47.6529 9.55224V36.137H47.7934Z" fill="#F9A519"/>
            </svg>
        </header>

        <div class="container">
            <div class="container__app row">
                <div class="app__texto col-md-6">
                    <h1>Gana dinero guardando equipaje a viajeros como tu</h1>
                    <div class="texto__enlaces">
                        <svg width="193" height="70" viewBox="0 0 193 70" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M185 0H8C3.58172 0 0 3.58172 0 8V62C0 66.4183 3.58172 70 8 70H185C189.418 70 193 66.4183 193 62V8C193 3.58172 189.418 0 185 0Z" fill="black"/>
                            <path d="M40.9922 34.331C41.0118 33.0069 41.3677 31.7095 42.0265 30.5608C42.6853 29.412 43.6253 28.4496 44.7582 27.764C44.0312 26.7407 43.0768 25.8998 41.9699 25.3076C40.8631 24.7154 39.634 24.388 38.3792 24.351C35.6962 24.072 33.0942 25.941 31.7262 25.941C30.3322 25.941 28.2262 24.379 25.9592 24.425C24.4974 24.4691 23.0715 24.8894 21.8194 25.6453C20.5673 26.4011 19.5313 27.467 18.8112 28.74C15.7202 34.036 18.0252 41.82 20.9862 46.1C22.4672 48.197 24.1992 50.539 26.4642 50.456C28.6812 50.365 29.5092 49.056 32.1842 49.056C34.8362 49.056 35.6122 50.456 37.9242 50.403C40.3032 50.365 41.8012 48.297 43.2312 46.181C44.2942 44.6897 45.1131 43.0387 45.6572 41.29C42.8322 40.107 40.9952 37.367 40.9922 34.331ZM36.6262 21.535C37.9211 19.9999 38.5607 18.0174 38.4072 16.015C36.4307 16.2184 34.6019 17.1545 33.2812 18.639C32.6395 19.36 32.1475 20.2013 31.8337 21.1141C31.5199 22.0268 31.3906 22.9929 31.4532 23.956C32.4419 23.9674 33.4205 23.7557 34.3161 23.3367C35.2117 22.9177 36.0013 22.3022 36.6262 21.536V21.535ZM69.0142 45.15H61.4492L59.6322 50.458H56.4282L63.5932 30.816H66.9232L74.0882 50.458H70.8282L69.0142 45.149V45.15ZM62.2322 42.7H68.2292L65.2732 34.083H65.1902L62.2322 42.7ZM89.5622 43.299C89.5622 47.749 87.1562 50.608 83.5242 50.608C82.6071 50.6575 81.6944 50.449 80.8897 50.0063C80.085 49.5635 79.4204 48.9042 78.9712 48.103H78.9022V55.196H75.9322V36.138H78.8072V38.52H78.8622C79.3316 37.7228 80.0072 37.0668 80.8179 36.6212C81.6287 36.1756 82.5446 35.9569 83.4692 35.988C87.1422 35.988 89.5622 38.861 89.5622 43.298V43.299ZM86.5102 43.299C86.5102 40.399 84.9962 38.493 82.6862 38.493C80.4162 38.493 78.8902 40.44 78.8902 43.299C78.8902 46.184 80.4162 48.116 82.6862 48.116C84.9962 48.116 86.5102 46.224 86.5102 43.299ZM105.488 43.299C105.488 47.749 103.082 50.608 99.4502 50.608C98.5331 50.6575 97.6204 50.449 96.8157 50.0063C96.011 49.5635 95.3464 48.9042 94.8972 48.103H94.8282V55.196H91.8582V36.138H94.7332V38.52H94.7882C95.2576 37.7228 95.9332 37.0668 96.7439 36.6212C97.5547 36.1756 98.4706 35.9569 99.3952 35.988C103.068 35.988 105.488 38.861 105.488 43.298V43.299ZM102.435 43.299C102.435 40.399 100.921 38.493 98.6122 38.493C96.3422 38.493 94.8162 40.44 94.8162 43.299C94.8162 46.184 96.3422 48.116 98.6122 48.116C100.922 48.116 102.435 46.224 102.435 43.299ZM116.014 44.985C116.234 46.933 118.146 48.212 120.759 48.212C123.262 48.212 125.063 46.933 125.063 45.177C125.063 43.652 123.977 42.739 121.405 42.114L118.833 41.501C115.188 40.629 113.496 38.943 113.496 36.206C113.496 32.816 116.481 30.489 120.718 30.489C124.912 30.489 127.787 32.817 127.883 36.206H124.885C124.705 34.246 123.068 33.062 120.675 33.062C118.283 33.062 116.645 34.259 116.645 36.002C116.645 37.39 117.692 38.207 120.25 38.832L122.436 39.364C126.508 40.317 128.2 41.936 128.2 44.809C128.2 48.484 125.242 50.786 120.538 50.786C116.138 50.786 113.165 48.538 112.973 44.986H116.013L116.014 44.985ZM134.61 32.75V36.139H137.362V38.466H134.61V46.361C134.61 47.588 135.161 48.159 136.37 48.159C136.697 48.154 137.023 48.131 137.348 48.091V50.405C136.804 50.5056 136.251 50.5512 135.698 50.541C132.768 50.541 131.626 49.452 131.626 46.675V38.466H129.522V36.139H131.626V32.749H134.61V32.75ZM138.955 43.3C138.955 38.794 141.637 35.963 145.818 35.963C150.013 35.963 152.682 38.793 152.682 43.3C152.682 47.818 150.027 50.637 145.818 50.637C141.61 50.637 138.955 47.817 138.955 43.3ZM149.655 43.3C149.655 40.209 148.225 38.385 145.818 38.385C143.411 38.385 141.982 40.223 141.982 43.3C141.982 46.403 143.412 48.213 145.818 48.213C148.225 48.213 149.656 46.403 149.656 43.3H149.655ZM155.131 36.139H157.963V38.576H158.033C158.229 37.8115 158.682 37.1374 159.315 36.6665C159.949 36.1957 160.725 35.9565 161.513 35.989C161.855 35.988 162.196 36.024 162.53 36.099V38.848C162.098 38.7172 161.648 38.6571 161.196 38.67C160.766 38.6524 160.336 38.7275 159.937 38.8902C159.538 39.0529 159.179 39.2994 158.883 39.613C158.59 39.9246 158.368 40.2965 158.233 40.7027C158.097 41.1089 158.053 41.5397 158.101 41.965V50.459H155.131V36.139ZM176.224 46.253C175.824 48.853 173.267 50.637 169.994 50.637C165.784 50.637 163.172 47.846 163.172 43.367C163.172 38.876 165.798 35.963 169.869 35.963C173.872 35.963 176.389 38.684 176.389 43.026V44.033H166.169V44.211C166.122 44.739 166.189 45.271 166.366 45.7709C166.542 46.2708 166.824 46.7271 167.191 47.109C167.561 47.4933 168.008 47.795 168.503 47.9946C168.998 48.1942 169.529 48.287 170.062 48.267C170.762 48.3339 171.464 48.1743 172.066 47.8116C172.667 47.449 173.137 46.9026 173.404 46.253H176.224ZM166.184 41.979H173.418C173.445 41.5043 173.372 41.0292 173.204 40.5842C173.037 40.1391 172.779 39.7338 172.446 39.394C172.111 39.052 171.71 38.7823 171.267 38.6017C170.823 38.4211 170.348 38.3334 169.869 38.344C168.894 38.3375 167.956 38.718 167.261 39.402C166.919 39.7384 166.648 40.1396 166.463 40.582C166.278 41.0245 166.183 41.4994 166.184 41.979Z" fill="white"/>
                            <path d="M58.0278 20.753C58.0278 17.693 59.6728 15.802 62.3228 15.802C64.3028 15.705 66.0278 17.127 66.2888 19.072H64.8138C64.6867 18.5136 64.3678 18.0174 63.9127 17.6697C63.4576 17.3221 62.895 17.1449 62.3228 17.169C60.6108 17.169 59.5398 18.549 59.5398 20.753C59.5398 22.951 60.6098 24.331 62.3288 24.331C62.8805 24.3738 63.4299 24.2237 63.8831 23.9063C64.3364 23.5889 64.6653 23.124 64.8138 22.591H66.2888C65.9898 24.491 64.2658 25.844 62.3288 25.698C59.6788 25.698 58.0278 23.808 58.0278 20.753ZM67.9078 21.905C67.8482 21.2772 67.9664 20.6453 68.2488 20.0814C68.5312 19.5175 68.9664 19.0444 69.5048 18.716C70.0458 18.3845 70.6679 18.209 71.3023 18.209C71.9368 18.209 72.5589 18.3845 73.0998 18.716C73.6381 19.0445 74.0731 19.5177 74.3553 20.0815C74.6375 20.6454 74.7555 21.2773 74.6958 21.905C74.7564 22.5332 74.639 23.1657 74.3571 23.7303C74.0753 24.2949 73.6403 24.7689 73.1018 25.098C72.5603 25.4305 71.9373 25.6065 71.3018 25.6065C70.6664 25.6065 70.0433 25.4305 69.5018 25.098C68.9636 24.7687 68.5288 24.2947 68.2471 23.7301C67.9654 23.1655 67.8482 22.5331 67.9088 21.905H67.9078ZM73.2348 21.905C73.2348 20.361 72.5348 19.458 71.3048 19.458C70.0698 19.458 69.3748 20.361 69.3748 21.905C69.3748 23.461 70.0698 24.357 71.3048 24.357C72.5348 24.357 73.2348 23.455 73.2348 21.905ZM76.6018 18.347H77.9688V19.478H78.0748C78.2573 19.07 78.562 18.7288 78.9468 18.5014C79.3315 18.2741 79.7774 18.1719 80.2228 18.209C80.5723 18.1827 80.9233 18.2348 81.2501 18.3614C81.5769 18.488 81.8713 18.6861 82.1118 18.941C82.5958 19.456 82.8178 20.161 82.7138 20.858V25.469H81.2938V21.211C81.2938 20.067 80.7908 19.497 79.7408 19.497C79.5034 19.4858 79.2664 19.5257 79.0457 19.6141C78.8251 19.7024 78.6259 19.8371 78.4618 20.009C78.1318 20.356 77.9718 20.829 78.0218 21.302V25.469H76.6018V18.347ZM87.5418 18.209C89.1598 18.209 90.2178 18.954 90.3568 20.21H88.9938C88.8638 19.687 88.3468 19.354 87.5408 19.354C86.7478 19.354 86.1458 19.726 86.1458 20.282C86.1458 20.708 86.5098 20.976 87.2898 21.152L88.4858 21.427C89.8538 21.741 90.4958 22.323 90.4958 23.37C90.4958 24.71 89.2328 25.607 87.5148 25.607C85.8028 25.607 84.6868 24.841 84.5598 23.579H85.9818C86.2338 24.197 86.8808 24.565 87.5478 24.469C88.4328 24.469 89.0608 24.076 89.0608 23.507C89.0608 23.082 88.7238 22.807 88.0028 22.637L86.7478 22.349C85.3798 22.029 84.7458 21.42 84.7458 20.361C84.7458 19.098 85.9148 18.209 87.5408 18.209H87.5418ZM92.2888 17.156L93.9488 14.906H95.6128L93.7558 17.156H92.2898H92.2888ZM92.4358 18.346H93.8498V25.469H92.4358V18.347V18.346ZM96.0608 26.182H97.5138C97.6338 26.699 98.2348 27.032 99.1938 27.032C100.377 27.032 101.078 26.476 101.078 25.535V24.168H100.971C100.746 24.5517 100.42 24.8662 100.028 25.0771C99.6369 25.288 99.1949 25.3873 98.7508 25.364C96.9138 25.364 95.7768 23.958 95.7768 21.826C95.7768 19.654 96.9258 18.228 98.7648 18.228C99.2202 18.2115 99.6715 18.3198 100.07 18.5412C100.468 18.7625 100.798 19.0886 101.025 19.484H101.137V18.347H102.497V25.527C102.497 27.157 101.209 28.19 99.1728 28.19C97.3758 28.19 96.2128 27.392 96.0608 26.182ZM101.104 21.819C101.104 20.4 100.363 19.491 99.1538 19.491C97.9308 19.491 97.2438 20.401 97.2438 21.819C97.2438 23.239 97.9308 24.148 99.1538 24.148C100.371 24.148 101.104 23.246 101.104 21.819ZM110.828 25.469H109.46V24.338H109.347C109.162 24.7501 108.854 25.0941 108.464 25.3217C108.074 25.5493 107.622 25.6491 107.173 25.607C106.825 25.6316 106.477 25.5787 106.152 25.4521C105.828 25.3255 105.536 25.1284 105.297 24.875C105.06 24.6235 104.882 24.3216 104.778 23.9919C104.673 23.6623 104.645 23.3133 104.694 22.971V18.347H106.116V22.604C106.116 23.755 106.585 24.305 107.629 24.305C108.119 24.351 108.604 24.175 108.949 23.828C109.294 23.48 109.462 22.997 109.406 22.513V18.347H110.828V25.469ZM119.177 23.546C118.98 24.1998 118.56 24.7639 117.99 25.1402C117.42 25.5166 116.737 25.6814 116.058 25.606C115.585 25.6189 115.114 25.5294 114.679 25.3437C114.244 25.158 113.854 24.8804 113.536 24.53C113.22 24.1817 112.985 23.7683 112.846 23.3191C112.707 22.8698 112.669 22.3957 112.734 21.93C112.671 21.4629 112.71 20.9877 112.848 20.5372C112.986 20.0866 113.221 19.6714 113.535 19.32C113.851 18.9666 114.24 18.6848 114.674 18.4934C115.108 18.302 115.577 18.2054 116.052 18.21C118.055 18.21 119.262 19.563 119.262 21.8V22.29H114.181V22.369C114.159 22.6308 114.192 22.8944 114.278 23.1425C114.365 23.3906 114.503 23.6177 114.683 23.809C115.048 24.197 115.561 24.415 116.097 24.409C116.436 24.4502 116.779 24.3902 117.084 24.2366C117.389 24.0831 117.641 23.8428 117.81 23.546H119.177ZM114.181 21.251H117.816C117.834 21.0115 117.801 20.771 117.719 20.5451C117.638 20.3192 117.509 20.113 117.343 19.94C117.175 19.7657 116.973 19.6281 116.75 19.536C116.526 19.4439 116.286 19.3993 116.044 19.405C115.799 19.4017 115.555 19.4473 115.328 19.539C115.1 19.6306 114.893 19.7666 114.719 19.939C114.369 20.287 114.174 20.759 114.181 21.251ZM121.235 15.566H122.656V25.469H121.235V15.566ZM124.63 21.905C124.57 21.2773 124.688 20.6454 124.97 20.0815C125.253 19.5177 125.688 19.0445 126.226 18.716C126.767 18.3845 127.389 18.209 128.023 18.209C128.658 18.209 129.28 18.3845 129.821 18.716C130.359 19.0444 130.795 19.5175 131.077 20.0814C131.359 20.6453 131.477 21.2772 131.418 21.905C131.478 22.5333 131.361 23.1659 131.079 23.7305C130.797 24.2951 130.361 24.769 129.823 25.098C129.281 25.4303 128.659 25.6062 128.023 25.6062C127.388 25.6062 126.765 25.4303 126.224 25.098C125.685 24.7689 125.25 24.2949 124.969 23.7303C124.687 23.1657 124.569 22.5332 124.63 21.905ZM129.957 21.905C129.957 20.361 129.256 19.458 128.027 19.458C126.792 19.458 126.097 20.361 126.097 21.905C126.097 23.461 126.792 24.357 128.027 24.357C129.256 24.357 129.957 23.455 129.957 21.905ZM143.314 23.545C143.117 24.1992 142.697 24.7637 142.127 25.1404C141.558 25.5172 140.874 25.6823 140.195 25.607C139.722 25.6198 139.251 25.5302 138.816 25.3443C138.381 25.1584 137.991 24.8806 137.673 24.53C137.357 24.1817 137.122 23.7683 136.983 23.3191C136.844 22.8698 136.806 22.3957 136.871 21.93C136.808 21.4629 136.847 20.9877 136.985 20.5372C137.123 20.0866 137.358 19.6714 137.672 19.32C137.988 18.9666 138.377 18.6848 138.811 18.4934C139.245 18.302 139.714 18.2054 140.189 18.21C142.191 18.21 143.399 19.563 143.399 21.8V22.29H138.318V22.369C138.296 22.6308 138.329 22.8944 138.415 23.1425C138.502 23.3906 138.64 23.6177 138.82 23.809C139.185 24.197 139.698 24.415 140.234 24.409C140.572 24.45 140.916 24.3899 141.22 24.2363C141.525 24.0828 141.777 23.8426 141.946 23.546H143.314V23.545ZM138.318 21.251H141.953C141.971 21.0115 141.938 20.771 141.856 20.5451C141.775 20.3192 141.646 20.113 141.48 19.94C141.312 19.7657 141.11 19.6281 140.887 19.536C140.663 19.4439 140.423 19.3993 140.181 19.405C139.936 19.4017 139.692 19.4473 139.465 19.539C139.237 19.6306 139.03 19.7666 138.856 19.939C138.506 20.287 138.311 20.759 138.318 21.251ZM145.307 18.347H146.674V19.478H146.78C146.962 19.07 147.267 18.7288 147.652 18.5014C148.037 18.2741 148.482 18.1719 148.928 18.209C149.277 18.1827 149.628 18.2348 149.955 18.3614C150.282 18.488 150.576 18.6861 150.817 18.941C151.301 19.456 151.523 20.161 151.419 20.858V25.469H149.999V21.211C149.999 20.067 149.496 19.497 148.445 19.497C148.208 19.486 147.971 19.5259 147.75 19.6143C147.53 19.7026 147.331 19.8372 147.167 20.009C146.837 20.356 146.676 20.829 146.727 21.302V25.469H145.307V18.347ZM163.605 23.546C163.408 24.1998 162.988 24.7639 162.418 25.1402C161.848 25.5166 161.165 25.6814 160.486 25.606C160.013 25.6189 159.542 25.5294 159.107 25.3437C158.672 25.158 158.282 24.8804 157.964 24.53C157.648 24.1817 157.413 23.7683 157.274 23.3191C157.135 22.8698 157.097 22.3957 157.162 21.93C157.099 21.4629 157.138 20.9877 157.276 20.5372C157.414 20.0866 157.649 19.6714 157.963 19.32C158.279 18.9666 158.668 18.6848 159.102 18.4934C159.536 18.302 160.005 18.2054 160.48 18.21C162.483 18.21 163.69 19.563 163.69 21.8V22.29H158.609V22.369C158.587 22.6308 158.62 22.8944 158.706 23.1425C158.793 23.3906 158.931 23.6177 159.111 23.809C159.476 24.197 159.99 24.415 160.525 24.409C160.864 24.4502 161.207 24.3902 161.512 24.2366C161.817 24.0831 162.069 23.8428 162.238 23.546H163.605ZM158.609 21.251H162.244C162.262 21.0115 162.229 20.771 162.147 20.5451C162.066 20.3192 161.937 20.113 161.771 19.94C161.603 19.7657 161.401 19.6281 161.178 19.536C160.954 19.4439 160.714 19.3993 160.472 19.405C160.227 19.4019 159.984 19.4475 159.756 19.5391C159.529 19.6308 159.322 19.7667 159.148 19.939C158.797 20.287 158.602 20.759 158.608 21.251H158.609ZM165.663 15.566H167.084V25.469H165.663V15.566Z" fill="white"/>
                        </svg>
                        <svg width="194" height="70" viewBox="0 0 194 70" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M182.754 0H11.2464C5.03517 0 0 5.01441 0 11.2V58.8C0 64.9856 5.03517 70 11.2464 70H182.754C188.965 70 194 64.9856 194 58.8V11.2C194 5.01441 188.965 0 182.754 0Z" fill="black"/>
                            <path d="M57.5156 24.876V16.231H60.1186C61.4196 16.231 62.5766 16.663 63.2996 17.384C64.1676 18.248 64.4566 19.257 64.4566 20.554C64.4566 21.85 64.0236 22.859 63.2996 23.724C62.5766 24.444 61.4196 24.876 60.1186 24.876H57.5156ZM58.6726 23.868H60.2626C61.2756 23.868 61.9986 23.579 62.5766 23.003C63.1556 22.427 63.4446 21.563 63.4446 20.553C63.4446 19.545 63.1546 18.68 62.5766 18.104C61.9986 17.528 61.1306 17.24 60.2636 17.24H58.6726V23.868ZM66.0476 24.876V16.231H67.2046V24.876H66.0476ZM71.6876 25.02C71.1096 25.02 70.3866 24.876 69.8076 24.444C69.2296 24.012 68.7956 23.435 68.6506 22.715L69.6626 22.283C69.8076 22.715 70.0966 23.147 70.3866 23.435C70.8196 23.724 71.2536 23.868 71.6876 23.868C72.1216 23.868 72.5556 23.724 72.9896 23.435C73.2786 23.147 73.5676 22.859 73.5676 22.427C73.5676 21.994 73.4226 21.562 72.9896 21.274C72.6996 20.986 72.1216 20.698 71.3986 20.554C70.6756 20.265 70.0966 19.977 69.6626 19.689C69.2296 19.257 69.0846 18.825 69.0846 18.249C69.0846 17.672 69.3746 17.095 69.8076 16.663C70.2416 16.231 70.9646 15.943 71.6876 15.943C72.4106 15.943 72.9896 16.087 73.4226 16.519C73.8566 16.951 74.1466 17.239 74.2906 17.672L73.2786 18.104C73.1336 17.816 72.9886 17.528 72.6996 17.384C72.4106 17.095 71.9766 17.095 71.5426 17.095C71.1096 17.095 70.8196 17.24 70.3866 17.384C70.2416 17.672 70.0966 17.96 70.0966 18.392C70.0966 18.68 70.2416 18.969 70.5306 19.257C70.8206 19.545 71.2536 19.689 71.8326 19.833C72.2666 19.977 72.5556 20.121 72.8446 20.265C73.1346 20.41 73.4226 20.554 73.7126 20.842C74.0016 20.986 74.2906 21.274 74.4356 21.706C74.5796 21.994 74.7246 22.426 74.7246 22.859C74.7246 23.291 74.5796 23.724 74.4346 24.012C74.2713 24.3187 74.0198 24.5695 73.7126 24.732C73.2786 24.732 72.9896 24.876 72.6996 24.876C72.4106 25.02 71.9766 25.02 71.6876 25.02ZM77.3276 24.876H76.1706V16.231H79.0626C79.7866 16.231 80.3646 16.519 80.9426 16.951C81.5216 17.384 81.8106 18.104 81.8106 18.825C81.8106 19.545 81.5206 20.121 80.9426 20.698C80.3646 21.13 79.7866 21.418 79.0626 21.418H77.3276V24.876ZM77.3276 20.266H79.2076C79.6416 20.266 80.0756 20.121 80.3646 19.833C80.6546 19.545 80.7986 19.113 80.7986 18.825C80.7986 18.392 80.6536 18.104 80.3646 17.815C80.0746 17.528 79.6416 17.384 79.2076 17.384H77.3276V20.265V20.266ZM90.3426 23.724C89.4756 24.588 88.4626 25.02 87.1616 25.02C85.8596 25.02 84.8476 24.588 83.9796 23.724C83.1126 22.859 82.6786 21.85 82.6786 20.554C82.6786 19.257 83.1126 18.248 83.9796 17.384C84.8476 16.519 85.8596 16.087 87.1616 16.087C88.4626 16.087 89.4756 16.519 90.3426 17.384C91.2106 18.248 91.6446 19.257 91.6446 20.554C91.6446 21.85 91.2106 22.859 90.3426 23.724ZM84.8476 23.004C85.4256 23.579 86.2936 24.012 87.1616 24.012C88.0296 24.012 88.8966 23.724 89.4756 23.003C90.1239 22.3524 90.4878 21.4714 90.4876 20.553C90.4876 19.545 90.1976 18.68 89.4756 18.104C88.8966 17.528 88.0296 17.095 87.1616 17.095C86.2936 17.095 85.4256 17.384 84.8476 18.104C84.1994 18.7546 83.8354 19.6356 83.8356 20.554C83.8356 21.562 84.1246 22.427 84.8476 23.004ZM93.2356 24.876V16.231H94.5366L98.7306 23.003V16.231H99.8876V24.876H98.7306L94.2476 17.816V24.876H93.2356ZM101.913 24.876V16.231H103.069V24.876H101.913ZM104.95 24.876V16.231H108.131C108.453 16.2282 108.773 16.2905 109.071 16.4142C109.37 16.5379 109.64 16.7205 109.866 16.951C110.3 17.384 110.589 17.96 110.589 18.681C110.589 19.113 110.445 19.401 110.3 19.833C110.117 20.1779 109.805 20.4367 109.433 20.553C109.866 20.698 110.156 20.986 110.445 21.274C110.735 21.562 110.879 21.994 110.879 22.571C110.879 23.291 110.589 23.868 110.156 24.3C109.577 24.732 108.999 25.02 108.276 25.02H104.949V24.876H104.95ZM106.106 19.977H108.131C108.565 19.977 108.854 19.833 109.143 19.545C109.433 19.257 109.577 18.969 109.577 18.68C109.577 18.392 109.287 17.96 109.143 17.672C108.854 17.384 108.565 17.24 108.131 17.24H106.106V19.977ZM106.106 23.867H108.42C108.854 23.867 109.143 23.724 109.433 23.435C109.722 23.147 109.866 22.859 109.866 22.427C109.866 22.139 109.722 21.707 109.433 21.418C109.143 21.13 108.854 20.986 108.42 20.986H106.251V23.868H106.106V23.867ZM112.325 24.876V16.231H113.482V23.868H117.242V24.876H112.325ZM123.749 17.24H119.845V19.977H123.46V20.986H119.845V23.724H123.749V24.876H118.688V16.231H123.749V17.24ZM133.439 17.24H129.534V19.977H133.149V20.986H129.534V23.724H133.439V24.876H128.377V16.231H133.439V17.24ZM135.174 24.876V16.231H136.475L140.669 23.003V16.231H141.826V24.876H140.669L136.186 17.816V24.876H135.174Z" fill="white" stroke="white" stroke-width="0.7"/>
                            <path d="M152.048 49.095H154.738V31.088H152.048V49.095ZM176.294 37.575L173.208 45.382H173.116L169.913 37.574H167.013L171.818 48.486L169.078 54.556H171.885L179.287 37.574H176.294V37.575ZM161.027 47.05C160.147 47.05 158.917 46.609 158.917 45.52C158.917 44.131 160.449 43.597 161.771 43.597C162.953 43.597 163.511 43.853 164.23 44.199C164.13 44.9809 163.751 45.7002 163.162 46.2241C162.573 46.748 161.815 47.0411 161.027 47.049V47.05ZM161.353 37.18C159.404 37.18 157.386 38.038 156.551 39.937L158.94 40.933C159.45 39.937 160.401 39.613 161.4 39.613C162.791 39.613 164.207 40.447 164.23 41.929V42.115C163.742 41.837 162.698 41.42 161.422 41.42C158.846 41.42 156.225 42.833 156.225 45.474C156.225 47.884 158.337 49.437 160.702 49.437C162.512 49.437 163.512 48.626 164.136 47.675H164.23V49.065H166.83V42.16C166.83 38.963 164.437 37.179 161.353 37.179V37.18ZM144.717 39.767H140.888V33.594H144.718C146.73 33.594 147.872 35.256 147.872 36.68C147.872 38.075 146.73 39.767 144.717 39.767ZM144.647 31.087H138.198V49.095H140.888V42.273H144.648C147.631 42.273 150.564 40.115 150.564 36.68C150.564 33.244 147.631 31.086 144.648 31.086L144.647 31.087ZM109.476 47.053C107.616 47.053 106.06 45.498 106.06 43.363C106.06 41.204 107.616 39.627 109.476 39.627C111.311 39.627 112.752 41.204 112.752 43.363C112.752 45.498 111.311 47.053 109.476 47.053ZM112.566 38.583H112.474C111.869 37.863 110.706 37.213 109.244 37.213C106.175 37.213 103.362 39.905 103.362 43.363C103.362 46.798 106.175 49.467 109.244 49.467C110.706 49.467 111.869 48.817 112.474 48.074H112.566V48.955C112.566 51.301 111.311 52.552 109.29 52.552C107.64 52.552 106.617 51.37 106.198 50.372L103.851 51.347C104.525 52.97 106.314 54.967 109.29 54.967C112.45 54.967 115.124 53.11 115.124 48.584V37.584H112.566V38.583ZM116.983 49.095H119.678V31.088H116.983V49.095ZM123.653 43.155C123.583 40.786 125.489 39.581 126.859 39.581C127.929 39.581 128.836 40.115 129.139 40.881L123.652 43.155H123.653ZM132.019 41.112C131.507 39.744 129.951 37.212 126.767 37.212C123.607 37.212 120.979 39.696 120.979 43.34C120.979 46.775 123.583 49.467 127.069 49.467C129.88 49.467 131.507 47.75 132.182 46.751L130.091 45.359C129.392 46.379 128.441 47.053 127.068 47.053C125.698 47.053 124.721 46.426 124.095 45.196L132.298 41.808L132.019 41.112ZM66.6588 39.094V41.693H72.8858C72.7008 43.155 72.2118 44.222 71.4688 44.963C70.5618 45.87 69.1438 46.868 66.6588 46.868C62.8218 46.868 59.8248 43.781 59.8248 39.952C59.8248 36.124 62.8218 33.035 66.6578 33.035C68.7268 33.035 70.2378 33.848 71.3518 34.893L73.1888 33.06C71.6308 31.575 69.5638 30.437 66.6588 30.437C61.4038 30.437 56.9888 34.707 56.9888 39.952C56.9888 45.196 61.4038 49.467 66.6588 49.467C69.4928 49.467 71.6308 48.537 73.3038 46.797C75.0238 45.081 75.5588 42.667 75.5588 40.717C75.5588 40.115 75.5128 39.557 75.4188 39.094H66.6588ZM82.6388 47.053C80.7808 47.053 79.1768 45.521 79.1768 43.34C79.1768 41.135 80.7808 39.627 82.6388 39.627C84.4988 39.627 86.1028 41.135 86.1028 43.34C86.1028 45.521 84.4988 47.053 82.6388 47.053ZM82.6388 37.213C79.2458 37.213 76.4808 39.79 76.4808 43.34C76.4808 46.868 79.2458 49.467 82.6388 49.467C86.0338 49.467 88.7988 46.868 88.7988 43.34C88.7988 39.79 86.0338 37.213 82.6388 37.213ZM96.0758 47.053C94.2158 47.053 92.6118 45.521 92.6118 43.34C92.6118 41.135 94.2158 39.627 96.0758 39.627C97.9358 39.627 99.5378 41.135 99.5378 43.34C99.5378 45.521 97.9348 47.053 96.0758 47.053ZM96.0758 37.213C92.6828 37.213 89.9168 39.79 89.9168 43.34C89.9168 46.868 92.6828 49.467 96.0758 49.467C99.4688 49.467 102.234 46.868 102.234 43.34C102.234 39.79 99.4688 37.213 96.0758 37.213Z" fill="white"/>
                            <path d="M37.7958 29.474L16.4438 17.291C15.5348 16.774 14.4998 16.974 13.8208 17.592L31.7198 35.529L37.7958 29.474Z" fill="url(#paint0_linear)"/>
                            <path d="M13.8209 17.593C13.3799 17.993 13.0859 18.567 13.0859 19.247V51.937C13.0859 52.556 13.3309 53.086 13.7059 53.48L31.7199 35.528L13.8209 17.593Z" fill="url(#paint1_linear)"/>
                            <path d="M13.7061 53.48C14.3791 54.186 15.4861 54.442 16.4471 53.892L37.8291 41.649L31.7201 35.528L13.7061 53.48Z" fill="url(#paint2_linear)"/>
                            <path d="M45.0417 33.607L37.7947 29.474L31.7207 35.527L37.8277 41.649L45.0447 37.517C46.5547 36.652 46.5517 34.47 45.0417 33.607Z" fill="url(#paint3_linear)"/>
                            <defs>
                            <linearGradient id="paint0_linear" x1="27.8821" y1="26.2622" x2="19.0189" y2="17.2775" gradientUnits="userSpaceOnUse">
                            <stop stop-color="#00F076"/>
                            <stop offset="1" stop-color="#0BE070"/>
                            </linearGradient>
                            <linearGradient id="paint1_linear" x1="17.7718" y1="32.1578" x2="23.3865" y2="30.5202" gradientUnits="userSpaceOnUse">
                            <stop stop-color="#00E2FF"/>
                            <stop offset="1" stop-color="#01C4F7"/>
                            </linearGradient>
                            <linearGradient id="paint2_linear" x1="17.3735" y1="50.4228" x2="24.537" y2="44.9909" gradientUnits="userSpaceOnUse">
                            <stop stop-color="#EB214E"/>
                            <stop offset="1" stop-color="#FF3A44"/>
                            </linearGradient>
                            <linearGradient id="paint3_linear" x1="38.9482" y1="35.5615" x2="31.7207" y2="35.5615" gradientUnits="userSpaceOnUse">
                            <stop stop-color="#FFD902"/>
                            <stop offset="1" stop-color="#FFBD00"/>
                            </linearGradient>
                            </defs>
                        </svg>
                    </div>
                </div>
            </div>

            <div class="funcionamiento container-fluid">
                <h2 class="heading-2">¿Como funciona?</h2>
                <div class="funcionamiento__pasos row">
                    <div class="funcionamiento__pasos-bloque col-xs-12 col-md-4">
                        <p class="circulo">1</p>
                        <div class="funcionamiento__pasos-text">
                            <h3>Date de alta</h3>
                            <p class="funcionamiento__pasos-desc">Una olla de algo mas vaca que carnero,
                                salpicon las mas noches, duelos y quebrantos
                                los sabados.
                            </p>
                        </div>
                    </div>
                    <div class="funcionamiento__pasos-bloque col-xs-12 col-md-4">
                        <p class="circulo">2</p>
                        <div class="funcionamiento__pasos-text">
                            <h3>Publica tus espacios, horarios y tarifas</h3>
                            <p class="funcionamiento__pasos-desc">En un lugar de la Mancha, de cuyo nombre no quiero
                                acordarme, no ha mucho tiempo.
                            </p>
                        </div>
                    </div>
                    <div class="funcionamiento__pasos-bloque col-xs-12 col-md-4">
                        <p class="circulo">3</p>
                        <div class="funcionamiento__pasos-text">
                            <h3>Recibe viajeros y gana dinero</h3>
                            <p class="funcionamiento__pasos-desc">No ha mucho tiempo que vivia un hidalgo de los de lanza
                                en astillero.
                            </p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="formulario row" id="formulario">
                <img class="formulario__preview" src="images/iPhoneX.png">
                <div id="formulario__bloque" class="formulario__bloque col-xs-11 col-md-4">
                    <p class="formulario__bloque-title">Solicita una demo</p>
                
                    {{form_start(formulario)}}
                        {{form_widget(formulario)}}
                    {{form_end(formulario)}}
                        
                    {# <form action="#" method="POST">
                        <div>
                            <label for="nombre">Nombre</label>
                            <input type="text" placeholder="Vicent Chase" name="nombre">
                        </div>
                        <div>
                            <label for="email">Email</label>
                            <input type="email" placeholder="vicent@mga.com" name="email">
                        </div>
                        <div>
                            <label for="horario">Horario preferido</label>
                            <input type="text" placeholder="vicent@mga.com" name="horario">
                        </div>
                        <div>
                            <label for="ciudades">Ciudad</label>
                            <select name="Ciudad" id="ciudades">
                                <option value="Madrid">Madrid</option>
                                <option value="Barcelona">Barcelona</option>
                                <option value="Sevilla">Sevilla</option>
                            </select>
                        </div>
                        <input type="checkbox" name="privacidad" id="privacidad" required> 
                        <label for="privacidad">He leido y acepto la
                                politica de privacidad</label>
                        <input type="submit" class="btnEnviar" name="enviar" value="Enviar">
                    </form> #}
                </div>
                <div id="formularioOk" class="col-xs-11 col-md-4">
                    <h1>Formulario correcto!</h1>
                    <p>Gracias por mostrar su interés.</p>
                    <i class="em em-smiley" aria-role="presentation" aria-label="SMILING FACE WITH OPEN MOUTH"></i>                </div>
            </div>

            <div class="opiniones">
                <h2 class="opiniones-title">Opiniones de otros guardianes</h2>
                <div class="opiniones__padre row">

                    {% for comentario in comentarios %}
                        <div class="opiniones__hijo col-xs-12 col-md-4">
                            <p class="hijo-texto">{{comentario.texto}}</p>
                            
                            <div class="triangulo-container">
                                <div class="triangulo"></div>
                                <div class="triangulo-base"></div>
                            </div>
                            
                            <p class="hijo-persona">{{comentario.persona}}</p>
                            <p class="hijo-ciudad">{{comentario.ciudad}}</p>
                        </div>
                    {% endfor %}

                    {# <div class="opiniones__hijo col-xs-12 col-md-4">
                        <p class="hijo-texto">Tras el enorme exito internacional de su primera colaboracion, "Bailar", que gano un galardon en los Premios</p>
                        <p class="hijo-persona">Sergio Garnacho</p>
                        <p class="hijo-ciudad">Tetuan, Madrid</p>
                    </div>
                    <div class="opiniones__hijo col-xs-12 col-md-4">
                        <p class="hijo-texto">Tras el enorme exito internacional de su primera colaboracion, "Bailar", que gano un galardon en los Premios</p>
                        <p class="hijo-persona">Sergio Garnacho</p>
                        <p class="hijo-ciudad">Tetuan, Madrid</p>
                    </div>
                    <div class="opiniones__hijo col-xs-12 col-md-4">
                        <p class="hijo-texto">Tras el enorme exito internacional de su primera colaboracion, "Bailar", que gano un galardon en los Premios</p>
                        <p class="hijo-persona">Sergio Garnacho</p>
                        <p class="hijo-ciudad">Tetuan, Madrid</p>
                    </div> #}
                </div>
            </div>

            <div class="mapa">
                <h2>Guardianes cerca tuyo</h2>
                <div style="width: 100%"><iframe width="100%" height="600" src="https://maps.google.com/maps?width=100%&height=600&hl=es&q=Les%20Rambles%2C%201%20Barcelona%2C%20Spain+(Mi%20nombre%20de%20egocios)&ie=UTF8&t=&z=14&iwloc=B&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"><a href="https://www.mapsdirections.info/calcular-ruta.html">mapas y direcciones</a></iframe></div><br />             
            </div>
        </div>
    </div>
    <footer class="footer">
        <svg width="217" height="40" viewBox="0 0 217 40" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M79.7195 24.3522L84.0588 18.2414V31.6237H88.5348V8.4095H85.8355L78.6945 19.129L70.8359 8.4095H68.0342V31.6237H72.4418V17.4562L78.0111 24.5912L79.7195 24.3522Z" fill="white"/>
            <path d="M100.819 8.4095L91.7647 31.6237H96.2065L98.2566 26.1616H107.072L109.156 31.9651L113.598 31.3506L104.578 8.4095H100.819ZM105.705 22.577H99.5549L102.596 14.4862L105.705 22.577Z" fill="white"/>
            <path d="M131.508 28.1757H121.258V8.4095H116.85V31.6237H132.191L131.508 28.1757Z" fill="white"/>
            <path d="M151.699 31.6237L150.982 28.1757H139.843V21.6553H148.146L147.428 18.139H139.843V11.8916H149.991L149.307 8.4095H135.435V31.6237H151.699Z" fill="white"/>
            <path d="M171.518 8.4095H152.726V11.8916H159.799V31.6237H164.275V11.8916H172.236L171.518 8.4095Z" fill="white"/>
            <path d="M191.739 31.6237L191.022 28.1757H179.883V21.6553H188.186L187.468 18.139H179.883V11.8916H190.031L189.348 8.4095H175.476V31.6237H191.739Z" fill="white"/>
            <path d="M204.998 7.86328C202.766 7.9088 200.784 8.45502 199.053 9.50193C197.322 10.5488 195.978 11.994 195.021 13.8375C194.087 15.681 193.62 17.7748 193.62 20.119C193.62 22.3722 194.065 24.4091 194.953 26.2298C195.864 28.0278 197.174 29.4616 198.882 30.5313C200.613 31.5782 202.652 32.1017 204.998 32.1017C207.253 32.0561 209.235 31.5213 210.943 30.4972C212.675 29.4502 214.019 28.0164 214.975 26.1957C215.932 24.3522 216.41 22.247 216.41 19.8801C216.41 17.6269 215.955 15.59 215.044 13.7693C214.155 11.9485 212.845 10.5147 211.114 9.46779C209.383 8.39812 207.344 7.86328 204.998 7.86328ZM198.233 20.0849C198.233 18.4007 198.541 16.9214 199.156 15.6469C199.793 14.3496 200.625 13.3596 201.65 12.6768C202.698 11.9713 203.837 11.6185 205.067 11.6185C206.411 11.6185 207.595 11.9713 208.62 12.6768C209.645 13.3823 210.431 14.361 210.978 15.6127C211.524 16.8645 211.798 18.2869 211.798 19.8801C211.798 21.7235 211.49 23.2939 210.875 24.5912C210.283 25.8657 209.463 26.8216 208.415 27.4588C207.39 28.0733 206.24 28.3806 204.964 28.3806C203.597 28.3806 202.402 28.0392 201.376 27.3564C200.374 26.6509 199.6 25.6722 199.053 24.4205C198.506 23.146 198.233 21.7008 198.233 20.0849Z" fill="white"/>
            <path d="M50.0425 6.18086C46.7743 5.54873 43.7521 5.23266 41.0461 5.23266C37.9536 5.23266 35.2477 5.65408 32.9283 6.46181C32.9283 3.72256 32.7877 2.21247 31.628 1.15891C30.5035 0.0702371 28.7112 0 26.7784 0C26.6378 0 26.4972 0 26.3918 0C26.2864 0 26.2161 0 26.1107 0C24.0021 0 22.7019 0.351185 21.8233 1.15891C20.7339 2.17735 20.7339 3.51185 20.7691 4.95171C20.7691 5.19754 20.7691 5.44337 20.7691 5.72432C20.7691 5.93503 20.7691 6.21598 20.7691 6.56716C18.9768 5.93503 16.9386 5.51361 14.6543 5.33802C14.1272 5.26778 13.4946 5.26778 12.8269 5.26778C10.2615 5.26778 6.60674 5.54873 1.68683 6.14574L0 6.35645V39.8244L1.86254 39.8595C3.44394 39.8946 4.91991 39.8946 6.36074 39.8946C11.8078 39.8946 16.1303 39.6488 19.1525 39.1572C22.5262 38.6304 25.0213 38.0334 26.8135 37.3661C28.9572 38.2792 31.382 38.9816 34.0528 39.4732C36.0208 39.8244 38.797 40 42.5572 40C44.6306 40 47.0906 39.9298 49.7965 39.8244L51.6239 39.7542V6.46181L50.0425 6.18086ZM23.8616 5.72432C23.8616 5.44337 23.8616 5.16242 23.8616 4.91659C23.8616 4.21422 23.8264 3.33626 24.0373 3.16067C24.1076 3.09043 24.459 2.8446 26.1458 2.8446C26.2512 2.8446 26.3918 2.8446 26.4972 2.8446C26.6027 2.8446 26.7081 2.8446 26.8135 2.8446C27.3758 2.8446 29.1329 2.8446 29.4843 3.16067C29.8709 3.51185 29.8709 5.51361 29.8358 7.86655C29.8358 7.90167 29.8358 7.90167 29.8358 7.93679C28.6761 8.63916 27.6569 9.44688 26.7784 10.4302C25.935 9.51712 24.951 8.70939 23.8264 8.00702C23.8616 7.12906 23.8616 6.21598 23.8616 5.72432ZM47.7934 36.137C45.8958 36.2072 44.1386 36.2423 42.5572 36.2423C39.043 36.2423 36.4073 36.1018 34.6854 35.7858C32.0146 35.2941 29.6249 34.5917 27.6218 33.6435L26.8135 33.2572L26.0053 33.6084C24.5644 34.2406 22.0342 34.8727 18.4848 35.4346C15.6734 35.8911 11.5618 36.1018 6.3256 36.1018C5.51733 36.1018 4.63877 36.1018 3.76022 36.1018V9.72783C7.66101 9.27129 10.6832 9.06058 12.7566 9.06058C13.3189 9.06058 13.846 9.06058 14.2677 9.0957C18.8362 9.44688 22.1747 10.8516 24.1076 13.1694C24.1779 13.2748 24.2833 13.3802 25.3727 14.4688L26.7432 15.8385L28.0786 14.4337C29.0275 13.4504 29.1681 13.2748 29.2735 13.1694C31.628 10.3951 35.5639 8.95522 40.9056 8.95522C42.9438 8.95522 45.2281 9.16593 47.6529 9.55224V36.137H47.7934Z" fill="white"/>
        </svg>

        <p>Hecho con <i class="em em-hearts" aria-role="presentation" aria-label="BLACK HEART SUIT"></i> en Madrid</p>
    </footer>
    <script src="js/script.js"></script>
</body>
</html>